.nearest p{
    font-size: 1.7rem;
    color: #A0A3BD;
}
.find-out{
    font-size: 4rem;
    font-weight: 600;
    color: #5F2EEA;
    line-height: 90px;
    
}
.banner-img img{
    width: 369px;
    height: 420px;
}